/ascii.exe
/bin2hex.exe
/calctime.exe
/char.exe
/CppProperties.json
/hex2dec.exe
/dec2hex.exe
/.vs/tools/v17/.wsuo
/.vs/tools/FileContentIndex/77e1481d-2b04-451b-a7ca-7776fde4e39b.vsidx
/.vs/tools/config/applicationhost.config
/.vs/tools/v17/ipch/AutoPCH/938fb7d8f6ebfc37/ASCII.ipch
/.vs/tools/v17/ipch/AutoPCH/ee220bb63e93fc01/ASCII.ipch
/.vs/tools/v17/Browse.VC.db
/.vscode/c_cpp_properties.json
/src/debug/char.exe
/.vs/tools/FileContentIndex/d00ea0da-6dde-4e02-a20a-fad4f167e988.vsidx
/.vs/ProjectSettings.json
/.vs/tools/FileContentIndex/read.lock
/.vscode/settings.json
/.vs/slnx.sqlite
/.vscode/tasks.json
/.vs/VSWorkspaceState.json
/*.exe